.section-body{
    display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 84vw; /* Allow the section to take the full width of the viewport */
  margin: auto;
  margin-bottom: 5px;
  max-width: 1600px; 
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding: 1rem 0;
    box-shadow: inset 0px 0px 12px 0px rgba(116, 128, 127, 0.38)
}
/* For Webkit browsers (e.g., Chrome, Safari) */
/* You can customize the colors, width, etc. as needed */
.section-body::-webkit-scrollbar {
  width: 12px;
}

.section-body::-webkit-scrollbar-thumb {
  background-color: #888;
}

.section-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* For Firefox */
.section-body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* For Microsoft Edge and IE */
.section-body {
  -ms-overflow-style: none; /* Hide the default scrollbar */
}

.section-body::-ms-scrollbar-thumb {
  background-color: #888;
}

.section-body::-ms-scrollbar-track {
  background-color: #f1f1f1;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .section-body{
  width: 95vw; 
}
}
@media (max-width:767px){
  .section-body{
    width: 100vw; 
  }
}